html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width : 100%;
    height: 100%; 
}
body {
    background-color: #f4f4f4;
    color: #333;

}   

#map{
    height: 100%;
    width: 100%;        
}